@font-face {
  font-family: "iconfont"; /* Project id 3822746 */
  src: url('iconfont.woff2?t=1670916762682') format('woff2'),
       url('iconfont.woff?t=1670916762682') format('woff'),
       url('iconfont.ttf?t=1670916762682') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e604";
}

.icon-angleleft:before {
  content: "\e662";
}

.icon-angleright:before {
  content: "\e663";
}

.icon-angleup:before {
  content: "\e664";
}

.icon-angledown-copy:before {
  content: "\e665";
}

.icon-search:before {
  content: "\e8c9";
}

.icon-rss:before {
  content: "\e739";
}

.icon-facebook:before {
  content: "\e603";
}

.icon-Twitter:before {
  content: "\ea3f";
}

.icon-youtube:before {
  content: "\ea07";
}

.icon-male-01:before {
  content: "\e6e0";
}

.icon-female-01:before {
  content: "\e70e";
}

.icon-creativecommons:before {
  content: "\e6b2";
}

.icon-list:before {
  content: "\e60e";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e601";
}

.icon-csdn:before {
  content: "\e602";
}

.icon-qq:before {
  content: "\e6da";
}

.icon-github:before {
  content: "\e620";
}

.icon-moon:before {
  content: "\ece9";
}

.icon-download:before {
  content: "\e624";
}

.icon-copyright:before {
  content: "\e74f";
}

.icon-Sunny:before {
  content: "\e6a0";
}

.icon-mulu:before {
  content: "\ed01";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-zhihu:before {
  content: "\e60d";
}

.icon-tieba:before {
  content: "\e610";
}

.icon-leetcode:before {
  content: "\e60f";
}

.icon-message:before {
  content: "\e693";
}

.icon-chevron-down:before {
  content: "\eb0e";
}

.icon-chevron-left:before {
  content: "\eb0f";
}

.icon-chevron-right:before {
  content: "\eb10";
}

.icon-chevron-up:before {
  content: "\eb11";
}

.icon-creative-commons-nc:before {
  content: "\ebf3";
}

.icon-creative-commons-nc-jp:before {
  content: "\ebf4";
}

.icon-creative-commons-by:before {
  content: "\ebf5";
}

.icon-email:before {
  content: "\e6a1";
}

